<html>
<head></head>

<body>
	<h1>Add a new User</h1>
	<form action="/users" method="POST">
    Name: <input name="name"><br />
		User name: <input name="username"><br />
		Email: <input name="email" ><br />
		Phone: <input name="phone" ><br />
    <input type="submit" value="Add!">
	</form>
	<a href="/">Home</a>
	<a href="/users">All Users</a>	
</body>