<html>
  <head>
    <title>Welcome to Montreal!</title>
    <style>
      body {
        background-color: #eeefff;
      }
    </style>
  </head>
  <body>
    <h1>Weather in Montreal</h1>
    <p>Today is absolutely freaking cold.</p>
  </body>
</html>
