<html>
<% let someData = true %>
  <head>
    <title>Welcome to <%= city %></title>
    <style>
      body {
        background-color: #cecece;
      }
    </style>
  </head>
  <body>
    <h1>Weather in <%= city %></h1>
    <% if (city === 'Toronto') { %>
      <p>Today is absolutely gorgeous.</p>
    <% } else if (city === 'Montreal') { %>
      <p>Today is freezing below zero... likely</p>
    <% } %>
    <img src="/static/<%= forecast %>">
      <p>Generated on: <%= new Date() %></p>
  </body>
</html>
