<html>
  <head>
    <title>Welcome to Toronto!</title>
    <style>
      body {
        background-color: #eeeeee;
      }
    </style>
  </head>
  <body>
    <h1>Weather in Toronto</h1>
    <p>Today is absolutely gorgeous.</p>
  </body>
</html>
