<html><body>
  <h1>Juan's Blog</h1>

 <p>This is where you will see the list of all my <%= posts.length %> articles</p>
 
 <ul>
  <% for (post of posts) { %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% } %>
 </ul>

 <p>Or feel free to <a href="/new">add a new</a> post</p>

 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>

</body></html>