<html><body>
  <h1>Juan's Blog</h1>

 <p>This is where you will see the list of all my <%= posts.length %> articles</p>
  
 <ul>
  <% for (post of posts) { %>
    <li><a href="/articles/<%=post.id%>"><%=post.title %></a></li>
  <% } %>
 </ul>

 <p>Or <a href="/new">CREATE</a> a new post altogether.
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>

</body></html>