<html><body>
  <h1>Juan's Blog</h1>

 <p>This is where you will see the list of all my articles</p>
 
 Currently in our blog: <%=posts.length %> articles.

 <% for (post of posts) { %>
 <section>
  <strong><a href="/posts/<%=post.id%>"><%=post.title %></a></strong>
</section>
 <% } %>

 You can also <a href="/new">write a new article</a>.

 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>

</body></html>