<html><body>
  <h1>Juan's Blog</h1>

  <form method="POST" action="/articles">
    <input name="title" value="">
    <textarea name="body" rows="20" cols="50"></textarea>
    <input type="submit">
  </form>

 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>