<html><body>
  <h1>Juan's Blog</h1>
  <h3><%= post.title%></h3>
  <p><%= post.body %></p>

  <p>You may want to <a href="/edit/<%=post.id%>">edit</a> this article.</p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>