<html><body>
  <h1>Juan's Blog</h1>
  <h3><%= post.title%></h3>
  <p><%= post.body %></p>

  <p> if you don't like it, you can always <a href="/edit/<%= post.id %>">edit the post</a></p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>