<html><body>
  <h1>Juan's Blog</h1>
  <h3><%= post.title%></h3>
  <p><%= post.body %></p>

  <p><a href="/posts/<%=post.id %>/edit">Edit</a> this post or go back to <a href="/">home page</a></p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>