<html><body>
  <h1>My new blog site</h1>
  <form action="/articles" method="GET">
    <input name="filter">
    <input type="submit" value="Filter!">
  </form>

 <p>This is where you will see the list of all my articles</p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>