<html><body>
  <h1>My new blog site</h1>
  <form action="/articles" method="POST"> 
    <input name="userId" value="">
    <input name="id" value="">
    <input name="title" value="">
    <input name="body" type="text" value="">
    <input type="submit" value="Add!">
  </form>
  <p>Go back to <a href="/">home page</a></p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>