p {
  font-family: 'Source Code Pro';
}

header {
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 8px 0 8px 16px;
}

header:hover {
  color: red;
}

footer {
  height: 60px;
  background-color: #333;
  color: #eee;
  padding: 5px 30px;
}


.blog {
  background-color: #eee;
  color: #333;
  height: 700px;
  padding: 8px;
}

.just-title > h1 {
  font-family: barrio;
  color: orange;
}

main h1 ~ p {
  text-shadow: 1px 1px 1px grey;
}

#sidebar {
  background-color: #999;
  color: black;
  height: 700px;
  padding-top: 20px;
}

#box {
  width: 300px;
  height: 300px;
  background-color: #F34D22;
}


p {
  font-family: Arial, Helvetica, sans-serif;
}
