<html>
  <head>
    <title>LPs Collection</title>
  </head>
  <body>
    <h1>Add a New LP</h1>
    <form action="/lps" method="POST">
      Title: <input name="title">
      Year: <input name="year">
      Artist: <input name="artist">
      <input type="submit" value="CREATE">
    </form>
  </body>
</html>