<html>
  <head>
    <title>LPs Collection</title>
  </head>
  <body>
    <h1>LPs Collection</h1>
    <p>Here is my list of LPs</p>
    <ul>
      <% for (let lp of database) { %>
        <li><%= lp.title %> by <%= lp.artist %> (<a href="/lps/<%= lp.year %>"><%= lp.year %></a>)</li>
      <% } %>
    </ul>
    <p>If you want to add a new LP, <a href="/create">click here</a></p>
  </body>
</html>
