<html>
  <head>
    <title>Tracks Collection</title>
  </head>
  <body>
    <h1>Add a New Track</h1>
    <form action="/tracks" method="POST">
      <input type="number" name="number" placeholder="99">
      <input type="text" name="name" placeholder="Track Name">
      <input type="text" name="artist" placeholder="Artist">
      <input type="number" name="year" placeholder="9999">
      <input type="submit" value="ADD">
    </form>
  </body>
</html>
