<html>
  <head>
    <title>Welcome to Apple!</title>
    <script>
    </script>
  </head>
  <body>
    <h1>Apple</h1>
    <p>This company makes the iPhone.   That is all.</p>
    <% for(var i = 0; i < 10; i++) { %>
      <li>Item #<%= i %></li>
    <% } %>
  </body>
</html>
