<html>
  <head>
    <title>Hello Everyone!</title>
  </head>
  <body>
    <h2>Lighthouse Labs</h2>
    <p>This is a page for all of you</p>
    <p>If you are a VIP <a href="/vip/secret/treasure">click here</a></p>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/82/2f/c2/822fc271f3457af71e88d80b51346769.jpg">
  </body>
</html>
