<html>
  <head>
    <title>Welcome to Apple!</title>
    <style>
      body {
        background-image: url("keynote.png");
        background-color: #cccccc;
      }
    </style>
  </head>
  <body>
    <h1>Apple</h1>
    <p>And everyone in media LOVES our events.</p>
  </body>
</html>
