<html><body>
  <h1>My new blog site</h1>
  <h3><%= article.title%></h3>
  <p><%= article.body %></p>

  <p>Go back to <a href="/">home page</a></p>
 <footer>
  <p>Current date and time is <%= new Date() %></p>
</footer>
</body></html>