<html>
  <head>
    <title>Welcome to Toronto!</title>
    <style>
      body {
        background-color: #cccccc;
      }
    </style>
  </head>
  <body>
    <% var today = new Date(); %>
    <h1>Weather in <%=city %></h1>
    <h3> for <%= today.toString() %></h3>
    <p>Today is kind of cloudy.</p>
    <img src="/static/<%= forecast %>">
  </body>
</html>
