<html>
  <head>
    <title>Welcome to Toronto!</title>
    <style>
      body {
        background-color: #cccccc;
      }
    </style>
  </head>
  <body>
    <h1>Weather in Toronto for <%= new Date() %></h1>
    <p>Today is mildly cold.</p>
  </body>
</html>
